<div>
    <h2>Welcome to the {{hobby_name}} Campfire!</h2>
    <section class="post-list">
        <h3>Posts</h3>
        {{#each posts}}
        <article class="post">
                <div class="post-votes">
                    <button class="upvote">▲</button>
                    <span class="vote-count">{{votes}}</span>
                    <button class="downvote">▼</button>
                </div>
                <div class="post-content">
                    <h2 class="post-title"><a href="/post/{{id}}">{{title}}</a></h2>
                    <p class="post-meta">Posted by u/{{user.username}} on {{created_at}}</p>
                    <div class="post-body">
                        {{!-- FUTURE DEVELOPMENT}}
                        {{!-- {{#if isImage}}
                        <img src="{{imageUrl}}" alt="{{title}}">
                        {{else}}
                          {{/if}}--}}
                       
                        <p>{{{message}}}</p>
                    </div>
                    <div class="post-comments">
                        {{!-- FUTURE DEVELOPMENT - CUSTOM HELPER FOR NUMBER OF COMMENTS --}}
                        <a href="/post/{{id}}/comments"> 12 comments</a>
                    </div>
                </div>
            </article>
        {{/each}}
    </section>
</div>